@import "variables.css";

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.color-white {
  color: #fff;
}
.shadow-white {
  text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff,
    2px 2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff, -2px -2px 5px #fff;
}
.bold {
  font-weight: 600;
}
.click {
  cursor: pointer;
}

.NM-color {
  color: var(--color-NM);
}
.HD-color {
  color: var(--color-HD);
}
.MX-color {
  color: var(--color-MX);
}
.SC-color {
  color: var(--color-SC);
}
.NM-background {
  /* border-radius: 0.3em; */
  background-color: var(--color-NM);
}
.HD-background {
  background-color: var(--color-HD);
}
.MX-background {
  background-color: var(--color-MX);
}
.SC-background {
  background-color: var(--color-SC);
}
.NM-svg {
  fill: var(--color-NM);
}
.HD-svg {
  fill: var(--color-HD);
}
.MX-svg {
  fill: var(--color-MX);
}
.SC-svg {
  fill: var(--color-SC);
}

.\34 B-color {
  color: var(--color-4B);
}
.\35 B-color {
  color: var(--color-5B);
}
.\36 B-color {
  color: var(--color-6B);
}
.\38 B-color {
  color: var(--color-8B);
}
.전체-background {
  background: linear-gradient(
    135deg,
    var(--color-4B),
    var(--color-5B),
    var(--color-6B),
    var(--color-8B)
  );
}
.\34 B-background {
  background-color: var(--color-4B);
}
.\35 B-background {
  background-color: var(--color-5B);
}
.\36 B-background {
  background-color: var(--color-6B);
}
.\38 B-background {
  background-color: var(--color-8B);
}

.btn-rank {
  color: #fff;
}
/* .category-background {
    background-size: 100% 100%;
} */

body {
  background-size: cover;
  background-size: 100%;
}
button:not(:disabled) {
  cursor: pointer;
}
h2 {
  margin-top: 0;
}

#home {
  background-color: mediumspringgreen;
  border-radius: 4em;
}

#result {
  padding: 1%;
  background-color: #fff;
  border-radius: 2em;
  width: 35%;
  margin: auto;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
  #result {
    width: 100%;
  }
}
