:root {
  --color-NM: rgb(255, 186, 0);
  --color-HD: rgb(255, 126, 49);
  --color-MX: rgb(255, 30, 30);
  --color-SC: rgb(242, 28, 199);
  --color-SC-5: rgb(224, 0, 116);
  --color-SC-10: rgb(198, 4, 227);
  --color-SC-15: rgb(61, 102, 255);
  --color-4B: rgb(0, 154, 75);
  --color-5B: rgb(43, 145, 175);
  --color-6B: rgb(193, 115, 17);
  --color-8B: rgb(68, 73, 172);
}
